doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/main-bunner/main-bunner
    include ../components/main-slider/main-slider
    include ../components/tabnav-mobile/tabnav-mobile
    include ../components/link-img/link-img
    include ../components/card/card-feed        
    include ../components/footer/footer
    include ../components/includeJs/includeJs

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .o-wrapper
            +header(header.index)
            +mainBunner()
            +mainSlider('', true)
            .o-section
                .o-center
                    .o-hgroup
                        .u-dt
                            .u-dtc
                                h2.head-2 Проверенные бренды
                            .u-dtc
                                .u-fl-r
                                    +tabnavMobile({
                                        list: [
                                            {
                                                text: 'Строительные материалы',
                                                active: 'active',
                                                tabId: 'tab-1-1'
                                            },
                                            {
                                                text: 'Мебель',
                                                active: '',
                                                tabId: 'tab-1-2'
                                            },
                                            {
                                                text: 'Сантехника',
                                                active: '',
                                                tabId: 'tab-1-3'
                                            },
                                            {
                                                text: 'Кровля',
                                                active: '',
                                                tabId: 'tab-1-4'
                                            },
                                            {
                                                text: 'Ландшафт',
                                                active: '',
                                                tabId: 'tab-1-5'
                                            }
                                        ]
                                    })
                    .o-tab-content
                        .o-tab-content__item.active(role="tabpanel", id="tab-1-1")        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-1-2")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-1-3")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-1-4")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-1-5")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
            .o-section
                .o-center
                    .u-text-center.u-fs-0
                        .o-ad
                            img(src="static/img/content/img-bun-sm.jpg", alt="")
                        .o-ad.u-hide-xs
                            img(src="static/img/content/img-bun-sm.jpg", alt="")
                        .o-ad.u-hide-sm.u-hide-xs
                            img(src="static/img/content/img-bun-sm.jpg", alt="")
            .o-section
                .o-center
                    .o-hgroup
                        .u-dt
                            .u-dtc
                                h2.head-2 Магазины
                            .u-dtc
                                .u-fl-r
                                    +tabnavMobile({
                                        list: [
                                            {
                                                text: 'Строительные материалы',
                                                active: 'active',
                                                tabId: 'tab-2-1'
                                            },
                                            {
                                                text: 'Мебель',
                                                active: '',
                                                tabId: 'tab-2-2'
                                            },
                                            {
                                                text: 'Сантехника',
                                                active: '',
                                                tabId: 'tab-2-3'
                                            },
                                            {
                                                text: 'Кровля',
                                                active: '',
                                                tabId: 'tab-2-4'
                                            },
                                            {
                                                text: 'Ландшафт',
                                                active: '',
                                                tabId: 'tab-2-5'
                                            }
                                        ]
                                    })
                    .o-tab-content
                        .o-tab-content__item.active(role="tabpanel", id="tab-2-1")        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все магазины
                        .o-tab-content__item(role="tabpanel", id="tab-2-2")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все магазины
                        .o-tab-content__item(role="tabpanel", id="tab-2-3")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все магазины
                        .o-tab-content__item(role="tabpanel", id="tab-2-4")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все магазины
                        .o-tab-content__item(role="tabpanel", id="tab-2-5")                        
                            .o-grid                        
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-1.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-2.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-3.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-4.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-5.png')
                                .o-grid__xs-6.o-grid__sm-4.o-grid__md-2
                                    +linkImg('static/img/content/ico-brand-6.png')
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все магазины
            .o-section.u-hide-xs
                .o-center
                    .u-text-center
                        .o-ad
                            img(src="static/img/content/img-bun-long.jpg", alt="")
            .o-section
                .o-center
                    .o-hgroup
                        .u-dt
                            .u-dtc
                                h2.head-2 Популярные товары
                            .u-dtc
                                .u-fl-r
                                    +tabnavMobile({
                                        list: [
                                            {
                                                text: 'Бетон, ЖБИ',
                                                active: 'active',
                                                tabId: 'tab-3-1'
                                            },
                                            {
                                                text: 'Стеновые материалы',
                                                active: '',
                                                tabId: 'tab-3-2'
                                            },
                                            {
                                                text: 'Строительная химия',
                                                active: '',
                                                tabId: 'tab-3-3'
                                            },
                                            {
                                                text: 'Гидроизоляция',
                                                active: '',
                                                tabId: 'tab-3-4'
                                            },
                                            {
                                                text: 'Теплоизоляция',
                                                active: '',
                                                tabId: 'tab-3-5'
                                            }
                                        ]
                                    })
                    .o-tab-content
                        .o-tab-content__item.active(role="tabpanel", id="tab-3-1")                            
                            .o-slider-common.slick-slider.js-card-slider
                                - for (i = 0;i < 7;i ++)
                                    .o-slider-common__item
                                        +cardFeed()
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-3-2")
                            .o-slider-common.slick-slider.js-card-slider
                                - for (i = 0;i < 7;i ++)
                                    .o-slider-common__item
                                        +cardFeed()
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-3-3")
                            .o-slider-common.slick-slider.js-card-slider
                                - for (i = 0;i < 7;i ++)
                                    .o-slider-common__item
                                        +cardFeed()
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-3-4")
                            .o-slider-common.slick-slider.js-card-slider
                                - for (i = 0;i < 7;i ++)
                                    .o-slider-common__item
                                        +cardFeed()
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
                        .o-tab-content__item(role="tabpanel", id="tab-3-5")
                            .o-slider-common.slick-slider.js-card-slider
                                - for (i = 0;i < 7;i ++)
                                    .o-slider-common__item
                                        +cardFeed()
                            .u-text-center
                                a(href="#").c-btn.c-btn--flat-info Все производители
        +footer()
        +includeJs()