doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/top-panel/top-panel
    include ../components/sub-panel/sub-panel
    include ../components/slider-bunner/slider-bunner
    include ../components/panel-filter/panel-filter           
    include ../components/card-adaptive/card-adaptive-feed
    include ../components/quick-view/quick-view
    include ../components/footer/footer
    include ../components/pagination/pagination
    include ../components/includeJs/includeJs

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .o-wrapper
            +header(header.manufacture)
            +top-panel('u-hide-xs')
            +sub-panel()
            +slider-bunner()
            .o-section
                .o-center
                    .o-hgroup
                        .u-dt
                            .u-dtc
                                h1.head-1 Стол темный дуб
                            .u-dtc.u-text-right.u-fs-16.u-hide-xs
                                .u-mt-5 Всего <b>279</b>
                    +panelFilter()
                    .o-grid.panel-group.js-panel-group(id="cards-group")                        
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(1)
                            +quickView(1)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(2)
                            +quickView(2)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(3)
                            +quickView(3)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(4)
                            +quickView(4)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(5)
                            +quickView(5)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(6)
                            +quickView(6)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(7)
                            +quickView(7)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(8)
                            +quickView(8)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(9)
                            +quickView(9)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(10)
                            +quickView(10)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(11)
                            +quickView(11)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(12)
                            +quickView(12)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(13)
                            +quickView(13)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(14)
                            +quickView(14)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(15)
                            +quickView(15)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(16)
                            +quickView(16)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(17)
                            +quickView(17)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(18)
                            +quickView(18)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(19)
                            +quickView(19)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(20)
                            +quickView(20)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(21)
                            +quickView(21)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(22)
                            +quickView(22)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(23)
                            +quickView(23)
                        .o-grid__sm-3.o-grid__md-2.panel.js-card-quick-view
                            +cardAdaptiveFeed(24)
                            +quickView(24)
                    +pagination()
            .o-section
                .o-center
                    .o-hgroup
                        .head-2 Контакты
                    .u-mb-25
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Сайт
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text rozetka.ua
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Часы работы онлайн
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text сегодня: с 8:00 до 22:00
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Контактные телефоны
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    div +380 44 289 3931
                                    div +380 44 289 3931
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Описание
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    |Интернет-магазин Rozetka.ua на сегодняшний день являеься наиболее популярным магазином электроники и бытовой техники в Украине. Вас интересует бытовая техника, компьютеры, софт или товары для активного отдыха? Все это вы можете купить прямо сейчас, сэкономив уйму времени! Интернет-магазин Rozetka™ с радостью поможет вам избежать необходимости посещать десятки магазинов. Вы можете заказать любой товар, не вставая со своего кресла, а наш курьер вовремя доставит покупку по указанному адресу. Интернет магазин (Украина) Rozetka™ действует на территории всей страны. Жители любых городов могут без лишних хлопот посетить наш интернет-магазин (Харьков, Киев, Донецк и другие города).
            .o-section
                .o-center
                    .o-hgroup
                        .head-2 Способы оплаты
                    .c-section-row-content
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    .c-section-row-content Visa/master Card
                                    .c-section-row-content Webmoney
                                    .c-section-row-content
                                        div Оплата курьеру
                                        div Если вы хотите заплатить наличными, это можно сделать при покупке - как в офисе, так и при курьерской доставке.
                                    .c-section-row-content Оплата наличными в почтомате
                    .c-section-row-content
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Филиалы
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__table
                                    table.c-table-content
                                        tr
                                            th Магазины
                                            th
                                                .u-hide-xs Пункты выдачи
                                            th.u-hide-xs Часы работы
                                            th Телефоны
                                        tr
                                            td(colspan="2") Киев, ул. Ярославская 57
                                            td.u-hide-xs
                                                .o-grid
                                                    .o-grid__xs-6
                                                        div сегодня:
                                                        .u-text-light понедельник
                                                        .u-text-light вторник
                                                        .u-text-light среда   
                                                        .u-text-light четверг
                                                        .u-text-light пятница
                                                        .u-text-light суббота
                                                        .u-text-light воскресенье 
                                                    .o-grid__xs-6
                                                        div с 8:00 до 22:00
                                                        .u-text-light 8:00–23:00
                                                        .u-text-light 8:00–23:00
                                                        .u-text-light 8:00–23:00   
                                                        .u-text-light 8:00–23:00
                                                        .u-text-light 8:00–23:00
                                                        .u-text-light 8:00–23:00
                                                        .u-text-light 8:00–23:00 
                                            td
                                                div +380 44 289 3931
                                                div +380 44 289 3931
                                        tr
                                            td(colspan="2") Киев, ул. Ярославская 57
                                            td.u-hide-xs
                                            td
                                                div +380 44 289 3931
                                                div +380 44 289 3931
                                        tr
                                            td(colspan="2") Киев, ул. Ярославская 57
                                            td.u-hide-xs
                                            td
                                                div +380 44 289 3931
                                                div +380 44 289 3931

            .o-section
                .o-center
                    .o-hgroup
                        .head-2 Условия доставки
                    .c-section-row-content
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Курьером
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    div Города: Киев, Одесса, Днепропетровск
                                    div Стоимость: от 40 грн
                                    div Срок доставки: 1-3 дня
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label По Украине
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    div Перевозчики: Новая Почта, DHL
                                    div Стоимость: по тарифам перевозчика
                                    div Срок доставки: 1-3 дня
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Самовывоз
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text
                                    div Магазины и пункты выдачи
                                    div Срок доставки в пункт выдачи: 0-3 дня
                                    div Забрать товар из магазина вы можете только после оформления заказа на сайте или созвона с оператором интернет-магазина. Если товар есть в магазине, ваш заказ будет готов к выдаче через 20 минут после оформления.
                        .c-row-content
                            .c-row-content__cell.c-row-content__cell--label Дополнительные условия
                            .c-row-content__cell.c-row-content__cell--content
                                .c-row-content__text Бесплатная доставка для всех заказов от 5000 грн
        +footer()
        +includeJs()