doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/side-nav/side-nav
    include ../components/footer/footer
    include ../components/includeJs/includeJs

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .c-modal(id='modal-form')
            span.c-modal__close(data-dismiss="modal")
            .c-modal__backdrop
            .c-modal__dialog
                .c-modal__content
                    |<!-- Первый шаг -->
                    .head-2.c-modal__head Отправьте заявку на подключение магазина к Fint.ua
                    .c-form-g.has-error
                        .c-form-label <span>*</span>Сайт магазина
                        input(type="text").c-form-control
                        .help-block.help-block-error Текст ошибки
                    .c-form-g
                        .c-form-label <span>*</span>Email
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Телефон
                        input(type="text").c-form-control
                    button(type='submit').c-btn.c-btn--success.c-btn--raised.c-form-btn Отправить заявку
                    |<!-- Второй шаг -->
                    .head-2.c-modal__head Пожалуйста, заполните еще пару строк
                    .c-form-g
                        .c-form-label Название магазина
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Контактное лицо
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Ссылка на файл с фидом товаров 
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Ваши вопросы
                        textarea.c-form-control(rows='4')
                    button(type='submit').c-btn.c-btn--success.c-btn--raised.c-form-btn Отправить
                    |<!-- Третий шаг -->
                    .head-2.c-modal__head.u-text-center
                        .u-fs-24 Спасибо!
                        div Наш менеджер свяжется с Вами
                        div в течении 1 рабочего дня
        .o-wrapper
            +header(true)
            .o-section
                .o-center.o-service
                    .o-grid
                        .o-grid__xs-lnd-4.o-grid__md-2
                            +sideNav()
                        .o-grid__xs-lnd-8.o-grid__md-10
                            .o-section
                                .o-hgroup
                                    h1.head-1 О проекте:
                                p
                                    |Idilia.com.ua – это сервис выбора товаров и предложений по товарам для дома от украинских магазинов и компаний.
                                p
                                    |Посетители Idilia.com.ua - это реальные покупатели, которым нужны товары для дома по привлекательным ценам.
                                p
                                    |Увеличивайте объем продаж и привлекайте новых потенциальных клиентов с помощью каталога Idilia.com.ua
                            .o-section
                                .o-hgroup
                                    h2.head-2 Наши контакты:
                                table.c-table-info
                                    tr
                                        td Телефоны:
                                        td
                                            div +38(066)1234567
                                            div +38(067)1234567
                                            div +38(098)1234567
                                    tr
                                        td Е-Mail:
                                        td sales@idilia.com.ua
                                    tr
                                        td Skype:
                                        td
                                            div idila
                                    tr
                                        td ICQ:
                                        td 
                                            div 40915742309857
        +footer()
        +includeJs()