doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/side-nav/side-nav
    include ../components/top-panel/top-panel  
    include ../components/bot-panel/bot-panel    
    include ../components/footer/footer
    include ../components/includeJs/includeJs

    head
        +head(head.defaults)
    body.has-panel
        |%=symbols=%
        .c-modal(id='modal-form')
            .c-modal__dialog
                .c-modal__content
                    span.c-modal__close(data-dismiss="modal")
                    .head-2.c-modal__head Зарегистрировать свой магазин в Idilia.com.ua
                    .c-form-g
                        .c-form-label <span>*</span>Название магазина
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Контактное лицо
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Телефоны
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Ваш e-mail
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Другие контакты
                        .o-grid
                            .o-grid__xs-4
                                select.c-form-control
                                    option skype
                                    option ICQ
                                    option AIM
                            .o-grid__xs-8
                                input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Дополнительные вопросы:
                        textarea.c-form-control(rows='3')
                    button(type='submit').c-btn.c-btn--success.c-btn--raised Зарегестрировать
        .o-wrapper
            +header()   
            +top-panel('u-hide-xs')
            .o-section
                .o-center
                    .o-grid
                        .o-grid__xs-lnd-4.o-grid__md-2
                            +sideNav()
                        .o-grid__xs-lnd-8.o-grid__md-10
                            .o-section
                                .o-hgroup
                                    h1.head-1 О проекте:
                                p
                                    |Idilia.com.ua – это сервис выбора товаров и предложений по товарам для дома от украинских магазинов и компаний.
                                p
                                    |Посетители Idilia.com.ua - это реальные покупатели, которым нужны товары для дома по привлекательным ценам.
                                p
                                    |Увеличивайте объем продаж и привлекайте новых потенциальных клиентов с помощью каталога Idilia.com.ua
                            .o-section
                                .o-hgroup
                                    h2.head-2 Наши контакты:
                                table.c-table-info
                                    tr
                                        td Телефоны:
                                        td
                                            div +38(066)1234567
                                            div +38(067)1234567
                                            div +38(098)1234567
                                    tr
                                        td Е-Mail:
                                        td
                                            a(href="#") sales@idilia.com.ua
                                    tr
                                        td Skype:
                                        td
                                            div idila
                                    tr
                                        td ICQ:
                                        td 
                                            div 40915742309857
        +footer()
        +botPanel()
        +includeJs()