doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/side-nav/side-nav
    include ../components/top-panel/top-panel
    include ../components/bot-panel/bot-panel
    include ../components/footer/footer
    include ../components/includeJs/includeJs

    head
        +head(head.defaults)
    body.has-panel
        |%=symbols=%
        .c-modal(id='modal-form')
            .c-modal__dialog
                .c-modal__content
                    span.c-modal__close(data-dismiss="modal")
                    .head-2.c-modal__head Зарегистрировать свой магазин в Idilia.com.ua
                    .c-form-g
                        .c-form-label <span>*</span>Название магазина
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Контактное лицо
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Телефоны
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label <span>*</span>Ваш e-mail
                        input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Другие контакты
                        .o-grid
                            .o-grid__xs-4
                                select.c-form-control
                                    option skype
                                    option ICQ
                                    option AIM
                            .o-grid__xs-8
                                input(type="text").c-form-control
                    .c-form-g
                        .c-form-label Дополнительные вопросы:
                        textarea.c-form-control(rows='3')
                    button(type='submit').c-btn.c-btn--success.c-btn--raised Зарегестрировать
        .o-wrapper
            +header()   
            +top-panel('u-hide-xs')
            .o-section
                .o-center
                    .o-grid
                        .o-grid__xs-lnd-4.o-grid__md-2
                            +sideNav()
                        .o-grid__xs-lnd-8.o-grid__md-10
                            .o-section
                                .o-hgroup
                                    h1.head-1 Размещение прайс-листов
                                p
                                    |Увеличивайте объем продаж и привлекайте новых потенциальных клиентов с помощью каталога Idilia.com.ua
                                .head-3 Стоимость размещения прайс-листов
                                table.c-table-content
                                    tr
                                        th Тарифы
                                        th Цена за клик
                                    tr.c-table-content__srow
                                        td(colspan='2') Базовые тарифы за переходы
                                    tr
                                        td <b>Переход с прайс-строки на Ваш сайт (для интернет-магазинов)</b>
                                        td 0.8 грн
                                    tr
                                        td <b>Переход с прайс-строки на Ваш сайт (для интернет-магазинов)</b>
                                        td 0.8 грн
                                    tr.c-table-content__srow
                                        td(colspan='2') Дополнительные тарифы
                                    tr
                                        td
                                            div
                                                b Топ 3
                                            |Разместите свою цену на первых 3 позициях прайса Ваше ценовое предложение будет выводиться как на страницах категорий, так и на странице товара!
                                        td Базовая стоимость перехода + 0,2 грн
                                    tr
                                        td
                                            div
                                                b Топ 3
                                            |Разместите свою цену на первых 3 позициях прайса Ваше ценовое предложение будет выводиться как на страницах категорий, так и на странице товара!
                                        td Базовая стоимость перехода + 0,2 грн
                                p
                                    |Технические требования к оформлению прайс-листов
                                p
                                    |Минимальная предоплата для публикации прайса 200.00 грн Минимальная сумма, которая списывается с Вашего баланса за 30 дней размещения прайс-листа 50 грн Магазины, впервые размещающие цены в нашем каталоге, получают тестовый период на сумму 200 грн
                                .head-3 Что входит в стоимость размещения информации:
                                ol
                                    li Размещайте неограниченное количество товарных позиций.
                                    li Обновление прайс-листа происходит по мере необходимости, не чаще одного раза в день. Впервые размещенные прайс-листы публикуются в течении 2-х суток. В выходные дни прайс-листы не обновляются.
                                    li Отслеживание результатов. Вы можете узнать, какие категории товаров приносят больше всего переходов , приводящих потенциальных клиентов на Ваш сайт.
                                    li Персональная страница-визитка с контактными данными и описанием вашего магазина
        +footer()
        +botPanel()
        +includeJs()