mixin smNav()
	ul.c-sm-nav
		li.c-sm-nav__item
			a(href="#").c-sm-nav__btn.is-active Товары
		li.c-sm-nav__item
			a(href="#").c-sm-nav__btn Услуги
		li.c-sm-nav__item
			a(href="#").c-sm-nav__btn Калькуляторы