// Common styles of the project

*,
*:before,
*:after {
	box-sizing: border-box;
}


html {
    
}
body {
	font-family: $main-font;
	background: $main-fill;
	color: $text-normal;
	line-height: 1.2;
	font-size: 12px;
}
.modal-open {
	overflow: hidden;
}

@import '_slick.scss';

@import '_jquery.mCustomScrollbar.scss';

@import '_jquery.fancybox.scss';

@import '_grid.scss';






.o-wrapper {
	overflow: hidden;
}
.o-service {
	font-size: 14px;
	line-height: 1.3;

	.o-grid > * {
		font-size: 14px;
	}
}

.o-section {
	margin: 25px 0 50px;

	&:first-child {
		margin-top: 0;
	}


	.o-section {
		&:last-child {
			margin-bottom: 0;
		}		
	}
}
.o-center {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 11px;
}
.o-ad {
	display: inline-block;
	vertical-align: top;
	font-size: 0;	
	margin: 0 15px 20px 15px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
.o-hgroup {
	@include cf;
	border-bottom: 1px solid #c8c8c8;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
}
.o-tab-content {
	position: relative;

	&__item {		
		visibility: visible;
		@include transition(all, .2s);

		&:not(.active) {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			opacity: 0;
			z-index: -1;
			visibility: hidden;			
		}
	}

}

.ico-play {
	display: block;
	position: relative;
	height: 100%;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include bg($i-play);
		opacity: .6;
	}

	&:hover {
		&:before {
			opacity: .8;
		}
	}
}


.u-text-left {
	text-align: left !important;
}
.u-text-center {
	text-align: center !important;
}
.u-text-right {
	text-align: right !important;
}

.u-text-bold {
	font-weight: $font-bold !important;
}
.u-text-italic {
	font-style: italic !important;
}

.u-text-upper {
	text-transform: uppercase !important;
}

.u-text-light {
	color: $text-light;
}

.u-fl-l {
	float: left !important;
}
.u-fl-r {
	float: right !important;
}

.u-dt {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.u-dtc {
	display: table-cell;
	vertical-align: middle;
}

.u-d-block {
	display: block !important;
}

.u-clearfix {
	@include cf;
}

.u-fs-0 {
	font-size: 0 !important;
}
.u-fs-10 {
	font-size: 10px !important;
}
.u-fs-12 {
	font-size: 12px !important;
}
.u-fs-14 {
	font-size: 14px !important;
}
.u-fs-16 {
	font-size: 16px !important;
}
.u-fs-18 {
	font-size: 18px !important;
}
.u-fs-20 {
	font-size: 20px !important;
}
.u-fs-22 {
	font-size: 22px !important;
}
.u-fs-24 {
	font-size: 24px !important;
}


.u-m-5 {
	margin: 5px 0 !important;
}
.u-m-10 {
	margin: 10px 0 !important;
}
.u-m-15 {
	margin: 15px 0 !important;
}
.u-m-20 {
	margin: 20px 0 !important;
}
.u-m-25 {
	margin: 25px 0 !important;
}
.u-m-30 {
	margin: 30px 0 !important;
}
.u-m-35 {
	margin: 35px 0 !important;
}
.u-m-40 {
	margin: 40px 0 !important;
}
.u-m-45 {
	margin: 45px 0 !important;
}
.u-m-50 {
	margin: 50px 0 !important;
}


.u-mt-invert-5 {
	margin-top: -5px !important;
}
.u-mt-invert-7 {
	margin-top: -7px !important;
}
.u-mt-3 {
	margin-top: 3px !important;
}
.u-mt-5 {
	margin-top: 5px !important;
}
.u-mt-10 {
	margin-top: 10px !important;
}
.u-mt-15 {
	margin-top: 15px !important;
}
.u-mt-20 {
	margin-top: 20px !important;
}
.u-mt-25 {
	margin-top: 25px !important;
}
.u-mt-30 {
	margin-top: 30px !important;
}
.u-mt-35 {
	margin-top: 35px !important;
}
.u-mt-40 {
	margin-top: 40px !important;
}
.u-mt-45 {
	margin-top: 45px !important;
}
.u-mt-50 {
	margin-top: 50px !important;
}

.u-mb-0 {
	margin-bottom: 0 !important;
}
.u-mb-5 {
	margin-bottom: 5px !important;
}
.u-mb-10 {
	margin-bottom: 10px !important;
}
.u-mb-15 {
	margin-bottom: 15px !important;
}
.u-mb-20 {
	margin-bottom: 20px !important;
}
.u-mb-25 {
	margin-bottom: 25px !important;
}
.u-mb-30 {
	margin-bottom: 30px !important;
}
.u-mb-35 {
	margin-bottom: 35px !important;
}
.u-mb-40 {
	margin-bottom: 40px !important;
}
.u-mb-45 {
	margin-bottom: 45px !important;
}
.u-mb-50 {
	margin-bottom: 50px !important;
}

.u-ml-0 {
	margin-left: 0 !important;
}
.u-ml-5 {
	margin-left: 5px !important;
}
.u-ml-10 {
	margin-left: 10px !important;
}
.u-ml-15 {
	margin-left: 15px !important;
}
.u-ml-20 {
	margin-left: 20px !important;
}
.u-ml-25 {
	margin-left: 25px !important;
}
.u-ml-30 {
	margin-left: 30px !important;
}
.u-ml-35 {
	margin-left: 35px !important;
}
.u-ml-40 {
	margin-left: 40px !important;
}
.u-ml-45 {
	margin-left: 45px !important;
}
.u-ml-50 {
	margin-left: 50px !important;
}

.u-mr-0 {
	margin-right: 0 !important;
}
.u-mr-5 {
	margin-right: 5px !important;
}
.u-mr-10 {
	margin-right: 10px !important;
}
.u-mr-15 {
	margin-right: 15px !important;
}
.u-mr-20 {
	margin-right: 20px !important;
}
.u-mr-25 {
	margin-right: 25px !important;
}
.u-mr-30 {
	margin-right: 30px !important;
}
.u-mr-35 {
	margin-right: 35px !important;
}
.u-mr-40 {
	margin-right: 40px !important;
}
.u-mr-45 {
	margin-right: 45px !important;
}
.u-mr-50 {
	margin-right: 50px !important;
}


.u-flag {
	display: inline-block;
    vertical-align: middle;
    margin: -1px 5px 0;
    font-size: 0;
}



// ---- slick

.slick-slider {
	opacity: 0;	
	@include transition(all, .1s);

	&.slick-initialized {
		opacity: 1;
	}
}
.slick-slide,
.slick-slide a {
	outline: none;
	border: none;
}

.o-slider-common {
	padding: 0 30px;
	margin: 0 0 20px 0;
	&__item {
		padding: 0 5px;
	}

	.slick-track {
		padding: 5px 0 10px 0;
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 30px;
		font-size: 0;
		line-height: 0;
		color: transparent;
		background: none;
		outline: none;
		border: none;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include transition(all, .1s);
			opacity: .8;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	.slick-prev {
		left: 0;

		&:after {
			left: 0;
			@include bg($i-nav-prev-dark);
		}
	}
	.slick-next {
		right: 0;

		&:after {
			right: 0;
			@include bg($i-nav-next-dark);
		}
	}
}

// ---- slick end











a,
.c-link {
	color: $text-light;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: $text-normal;
	}

	&:active {
		color: $text-dark;	
	}
}


h1, h2, h3, h4, h5, h6,
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6 {
	display: inline-block;
	color: $text-heading;
	margin: 0 0 15px 0;	
	font-weight: $font-regular;
	font-size: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

h1, .head-1 {
	font-size: 24px;
	font-weight: $font-bold;
}
h2, .head-2 {
	font-size: 18px;
}

ol ul,
ul ul,
ul ol,
ol ol {
	margin-top: 3px;
	margin-bottom: 3px;
}

.c-img-resp {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}


.c-scroll-wrapper {
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #a5a5a5;
		width: 11px;
		@include border-radius(0);
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background: #d3d3d3;
	}
	margin: 0 0 10px 0;

	&--filter {
		max-height: 190px;
	}
}




.c-table-info {
	border-collapse: collapse;

	tr {

	}

	td {
		vertical-align: top;
		font-size: 18px;
		line-height: 1.5;
		padding: 5px 20px 5px 0;

		&:first-child {
			color: $text-light;
		}
	}
}


.c-table-content {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 15px;

	tr {
		@include transition(all, .2s);

		// &:not(.c-table-content__srow):hover {
		// 	background: #d7d7d7;
		// }
	}

	th,
	td {
		text-align: left;
		padding: 5px 15px;
		border-top: 1px solid #c8c8c8;
		font-weight: normal;
	}

	th {
		height: 47px;
		background: #ededed; 
	}

	td {
		height: 40px;
	}

	&__srow {
		background: #f1f1f1;
	}
}


.c-modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow-x: hidden;
    overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	font-size: 0;
	text-align: center;
	background: rgba(42, 44, 46, 0.97);
	padding: 10px!important;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}

	&__backdrop {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&__dialog {
		position: relative;
		z-index: 4;
		display: inline-block;
		vertical-align: middle;
		width: 550px;
		max-width: 100%;
		font-size: 14px;
		text-align: left;
	}

	&__content {
		padding: 30px 10px 10px 10px;
		position: relative;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 5;

		&:after {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2044%2044%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20%23fff%20!important;%20%7D%3C/style%3E%3Cpath%20fill=%22%23fff%22%20d=%22M39.196%2043.3L1.154%205.256l3.89-3.89%2038.04%2038.043z%22/%3E%3Cpath%20fill=%22%23fff%22%20d=%22M.54%2039.413L38.58%201.37l3.89%203.89L4.428%2043.302z%22/%3E%3C/svg%3E%0A");
    		background-repeat: no-repeat;
    		opacity: .7;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}

	&__head {
		display: block;
		color: $text-normal-invert;
	}
}

.c-cont-collapse {
	&__toggler {
		display: block;
		margin: 0 0 15px 0;
		cursor: pointer;
		max-width: 500px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			@include bg($i-collapse-cont);
			margin: -3.5px 0 0 5px;
			transform: rotate(-180deg);
		}

		&.collapsed {
			&:after {
				transform: rotate(0);
			}
		}
	}

	&__collapse {
		display: none;
		margin: 0 0 20px 0;

		&.in {
			display: block;
		}
	}
}



.c-section-row-content {
	margin: 0 0 25px 0;

	&:last-child {
		margin: 0;
	}
}

.c-row-content {
	margin: 0 0 15px 0;
	line-height: 1.5;

	&__cell {
		min-height: 1px;

		&--label {
			margin: 0 0 5px 0;
		}

		&--content {
			background: #fff;
		}

	}

	&__text {
		padding: 10px 15px;
	}


	.c-table-content {
		th {
			border-bottom: 1px solid #c8c8c8;
		}
		td {
			border: 0;
			vertical-align: top;
			padding: 30px 15px;
		}
	}

}


.c-review {
	line-height: 1.5;
	margin: 0 0 40px 0;

	&__h {
		margin: 0 0 5px 0;
	}

	&__mark {
		font-weight: $font-bold;
		text-shadow: 0 0 0;
		margin: 0 10px 0 0;
	}

	.c-rating__count {
		font-size: 12px;
	}
}


.c-range-rat {
	&__line {
		position: relative;
		padding: 0 45px 0 28px;
		margin: 2px 0 0 0;

		&:first-child {
			margin: 0;
		}

		&--five {
			.c-range-rat__range {
				background: #828282;
			}
		}
		&--four {
			.c-range-rat__range {
				background: #9a9a9a;
			}
		}
		&--three {
			.c-range-rat__range {
				background: #bebebe;
			}
		}
		&--two {
			.c-range-rat__range {
				background: #d6d6d6;
			}
		}
		&--one {
			.c-range-rat__range {
				background: #e8e8e8;
			}
		}
	}

	&__num,
	&__count {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__num {
		left: 0;
		font-size: 10px;
		padding: 0 0 0 15px;
		line-height: 1;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		    margin: -1.5px 0 0 0;
			@include bg($i-star-active);
		}
	}
	&__count {
		right: 0;
	}

	&__range {
		height: 24px;
	}
}


.c-lg-rat {
	text-align: center;

	&__val {
		font-size: 50px;
		line-height: 1;
		text-align: center;
		color: $text-dark;
		margin: 0 0 5px 0;
	}

	.c-rating {
		display: inline-block;
	}

	&__count {
		text-align: left;
		position: relative;
		margin: 15px 0 0 0;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			@include bg($i-person);
			margin: -2px 5px 0 0;
		}
	}

}

.c-df-tb {
	width: 100%;
	border-collapse: collapse;

	tr:nth-child(odd) {
		td {
			background: #ededed;
		}
	}

	th, td {
		padding: 13px;
		font-weight: normal;
		vertical-align: top;
		color: $text-dark;

		&:first-child {
			width: 300px;
		}
	}
}

.c-map {
	position: relative;

	&__map {
		position: relative;
		z-index: 1;
		height: 70vh;
	}

	&__box {
		position: absolute;
		z-index: 2;
		width: 360px;
		left: 22px;
		top: 22px;
		bottom: 22px;
		background: #fff;
		padding: 18px 18px 18px 18px;
	}

	&__box-inner {
		max-height: 100%;
		overflow-y: auto;
		padding: 0 30px 0 0;
	}
}


.c-location-item {
	font-size: 14px;
	margin: 30px 0 0 0;

	&:first-child {
		margin: 0;
	}

	.c-ico {
		margin: 0 0 0 20px;

		&:first-child {
			margin: 0;
		}
	}

	.c-rating {
		margin: 3px 0 0 0;
	}

	&__head {
		position: relative;
		padding: 0 0 0 50px;
		margin: 0 0 10px 0;
	}

	&__h {
		border-bottom: 1px solid #c8c8c8;
		padding: 0 0 15px 0;
		margin: 0 0 15px 0;
	}

	&__old {
		margin: 0 0 10px 0;
		text-decoration: line-through;
	}

	&__sum {
		
	}

	&__loc {
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		font-weight: bold;
	}
	&__loc-text {
		span {
			font-size: 12px;
		}
	}

	&__loc-val {
		display: inline-block;
		font-size: 15px;
		@include bg($i-loc);
		line-height: 30px;
		margin: 0 0 5px 0;
	}
}


.c-ico {
	display: inline-block;
	vertical-align: middle;

	&:before {
		content: '';
		display: block;
	}

	&--delivery {
		@include bg($i-delivery);
	}

	&--pay {
		@include bg($i-pay);
	}

	&--gift {
		@include bg($i-gift);
	}

	&--location {
		@include bg($i-location);
	}
}

.c-tb-info {
	width: 100%;
	border-collapse: collapse;
	line-height: 1.4;

	td {
		vertical-align: top;
		padding: 20px 10px;

		&:nth-child(2) {
			width: 17%;
		}
	}

	th, td {
		border-top: 1px solid #c8c8c8;

		&:last-child {
			width: 200px;
		}
	}

	th {
		background: #ededed;
		padding: 11px 10px;
		text-align: left;
	}

	&__ico {
		position: relative;
		padding: 0 0 0 30px;

		.c-ico {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.c-sum {
	font-size: 20px;
	color: $text-success;
	font-weight: $font-bold;
	line-height: 1;

	span {
		font-size: 15px;
	}
}

.c-cur-btn {
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		min-width: 50px;
		height: 25px;
		line-height: 25px;
		padding: 0 6px;
		font-size: 13px;
		color: #434343;
		margin: 0 0 0 14px;
		background: #c8c8c8;

		&.is-active {
			background: #fbfbfb;
		}

		&:first-child {
			margin: 0;
		}

		span {
			text-decoration: underline;
		}
	}
}

.c-line-link {
	font-size: 0;
	background: #e3e3e3;
	padding: 0 10px;

	&__item {
		display: inline-block;
		position: relative;
		height: 48px;
		line-height: 48px;
		font-size: 13px;
		color: #666666;
		text-decoration: none;
		margin: 0 0 0 40px;

		&:first-child {
			margin: 0;
		}

		&:hover {
			text-decoration: none;
		}
		
		&-h,
		&.is-active {
			color: #2d2d2d;
		}

		&.is-active {
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				@include bg($i-cor);
			}
		}

		&-h {
			font-weight: bold;
		}
	}
}

.c-sum-range {
	font-size: 26px;
	font-weight: $font-bold;
	color: $text-success;

	span {
		font-size: 20px;
	}
}

.c-prod {
	line-height: 1.5;
}

.c-link-sum {
	display: block;
	color: #000000;

	span {
		color: $text-success;
		font-size: 14px;
	}
}


// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

	.o-center {
		max-width: 622px;		
	}

}

@media (min-width: $third-point) {

	html,
	body {
		height: 100%;
	}

	.o-wrapper {
		min-height: 100%;
		&:after {
			content: '';
			display: block;
			height: 130px;
		}
	}

	.o-center {
		max-width: 862px;		
	}

	h2, .head-2 {
		font-size: 20px;
	}

	.c-row-content {
		display: table;
		width: 100%;
		margin: 0;

		&__cell {
			display: table-cell;
			vertical-align: top;

			&--label {
				width: 250px;
				padding: 20px 0;
			}
		}
		&__text {
			padding: 20px;
		}

		.c-table-content {
			td {
				padding: 30px 20px;
			}
			th {
				padding: 5px 20px;
			}
		}
	}

	.c-sum {
		font-size: 30px;
		line-height: 1.2;

		span {
			font-size: 20px;
		}
	}

	.c-prod {
		&__inner {
			padding: 0 50px;
		}
	}

}

.c-color {
	text-align: center;

	&__box {
		display: inline-block;
		position: relative;
		border: 1px solid transparent;
		padding: 2px;
		margin: 0 0 5px 0;

		&-inner {
			width: 30px;
			height: 30px;
			background: #ccc;
		}
	}

	&--border {
		.c-color__box {
			border-color: #8b8b8b;
		}
	}

	&--not {
		.c-color__box {
			@extend .c-text-not;
		}
	}
}

.c-text-not {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include bg($i-not-line);
	}
}

@media (min-width: $fourth-point) {
	
	.o-section {
		margin: 30px 0 50px;
	}
	.o-center {
		max-width: 982px;		
	}

}

@media (min-width: $fifth-point) {
	
	.o-center {
		max-width: 1302px;		
	}

}

@media (min-width: $sixth-point) {

	.o-center {
		max-width: 1462px;		
	}

}

@media (min-width: $seventh-point) {
	
	.o-center {
		max-width: 1622px;		
	}

}