// Common styles of the project

*,
*:before,
*:after {
	box-sizing: border-box;
}


html {
    font-size: 12px;
}
body {
	font-family: $main-font;
	background: $main-fill;
	color: $text-normal;
	line-height: 1.2;
}
.modal-open {
	overflow: hidden;
}

@import '_slick.scss';

@import '_jquery.mCustomScrollbar.scss';

@import '_grid.scss';






.o-wrapper {
	overflow: hidden;
}
.o-service {
	font-size: 14px;
}

.o-section {
	margin: 35px 0 65px;

	&:first-child {
		margin-top: 0;
	}


	.o-section {
		&:last-child {
			margin-bottom: 0;
		}		
	}
}
.o-center {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 11px;
}
.o-ad {
	display: inline-block;
	vertical-align: top;
	font-size: 0;	
	margin: 0 15px 20px 15px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
.o-hgroup {
	@include cf;
	border-bottom: 1px solid #c8c8c8;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
}
.o-tab-content {
	position: relative;

	&__item {		
		visibility: visible;
		@include transition(all, .2s);

		&:not(.active) {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			opacity: 0;
			z-index: -1;
			visibility: hidden;			
		}
	}

}



.u-text-left {
	text-align: left !important;
}
.u-text-center {
	text-align: center !important;
}
.u-text-right {
	text-align: right !important;
}

.u-text-bold {
	font-weight: $font-bold !important;
}
.u-text-italic {
	font-style: italic !important;
}

.u-text-upper {
	text-transform: uppercase !important;
}

.u-fl-l {
	float: left !important;
}
.u-fl-r {
	float: right !important;
}

.u-dt {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.u-dtc {
	display: table-cell;
	vertical-align: middle;
}

.u-d-block {
	display: block !important;
}

.u-fs-0 {
	font-size: 0 !important;
}
.u-fs-10 {
	font-size: 10px !important;
}
.u-fs-12 {
	font-size: 12px !important;
}
.u-fs-14 {
	font-size: 14px !important;
}
.u-fs-16 {
	font-size: 16px !important;
}
.u-fs-18 {
	font-size: 18px !important;
}
.u-fs-20 {
	font-size: 20px !important;
}
.u-fs-22 {
	font-size: 22px !important;
}
.u-fs-24 {
	font-size: 24px !important;
}

.u-m-5 {
	margin: 5px 0 !important;
}
.u-m-10 {
	margin: 10px 0 !important;
}
.u-m-15 {
	margin: 15px 0 !important;
}
.u-m-20 {
	margin: 20px 0 !important;
}
.u-m-25 {
	margin: 25px 0 !important;
}
.u-m-30 {
	margin: 30px 0 !important;
}
.u-m-35 {
	margin: 35px 0 !important;
}
.u-m-40 {
	margin: 40px 0 !important;
}
.u-m-45 {
	margin: 45px 0 !important;
}
.u-m-50 {
	margin: 50px 0 !important;
}

.u-mt-5 {
	margin-top: 5px !important;
}
.u-mt-10 {
	margin-top: 10px !important;
}
.u-mt-15 {
	margin-top: 15px !important;
}
.u-mt-20 {
	margin-top: 20px !important;
}
.u-mt-25 {
	margin-top: 25px !important;
}
.u-mt-30 {
	margin-top: 30px !important;
}
.u-mt-35 {
	margin-top: 35px !important;
}
.u-mt-40 {
	margin-top: 40px !important;
}
.u-mt-45 {
	margin-top: 45px !important;
}
.u-mt-50 {
	margin-top: 50px !important;
}

.u-mb-5 {
	margin-bottom: 5px !important;
}
.u-mb-10 {
	margin-bottom: 10px !important;
}
.u-mb-15 {
	margin-bottom: 15px !important;
}
.u-mb-20 {
	margin-bottom: 20px !important;
}
.u-mb-25 {
	margin-bottom: 25px !important;
}
.u-mb-30 {
	margin-bottom: 30px !important;
}
.u-mb-35 {
	margin-bottom: 35px !important;
}
.u-mb-40 {
	margin-bottom: 40px !important;
}
.u-mb-45 {
	margin-bottom: 45px !important;
}
.u-mb-50 {
	margin-bottom: 50px !important;
}


.u-flag {
	display: inline-block;
    vertical-align: middle;
    margin: -1px 5px 0;
    font-size: 0;
}



// ---- slick

.slick-slider {
	opacity: 0;	
	@include transition(all, 1s);

	&.slick-initialized {
		opacity: 1;
	}
}
.slick-slide,
.slick-slide a {
	outline: none;
	border: none;
}

.o-slider-common {
	padding: 0 30px;
	margin: 0 0 20px 0;
	&__item {
		padding: 0 5px;
	}

	.slick-track {
		padding: 5px 0 10px 0;
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 30px;
		font-size: 0;
		line-height: 0;
		color: transparent;
		background: none;
		outline: none;
		border: none;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include transition(all, .1s);
			opacity: .8;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	.slick-prev {
		left: 0;

		&:after {
			left: 0;
			@include bg($i-nav-prev-dark);
		}
	}
	.slick-next {
		right: 0;

		&:after {
			right: 0;
			@include bg($i-nav-next-dark);
		}
	}
}

// ---- slick end











a,
.c-link {
	color: $text-light;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: $text-normal;
	}

	&:active {
		color: $text-dark;	
	}
}


h1, h2, h3, h4, h5, h6,
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6 {
	display: inline-block;
	color: $text-heading;
	margin: 0 0 15px 0;	
	font-weight: $font-regular;
	font-size: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

h1, .head-1 {
	font-size: 24px;
	font-weight: $font-bold;
}
h2, .head-2 {
	font-size: 18px;
}

ol ul,
ul ul,
ul ol,
ol ol {
	margin-top: 3px;
	margin-bottom: 3px;
}

.c-img-resp {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}


.c-scroll-wrapper {
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #a5a5a5;
		width: 11px;
		@include border-radius(0);
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background: #d3d3d3;
	}
	margin: 0 0 10px 0;

	&--filter {
		max-height: 190px;
	}
}




.c-table-info {
	border-collapse: collapse;

	tr {

	}

	td {
		vertical-align: top;
		font-size: 18px;
		line-height: 1.5;
		padding: 5px 20px 5px 0;

		&:first-child {
			color: $text-light;
		}
	}
}


.c-table-content {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 15px;

	tr {
		@include transition(all, .2s);

		// &:not(.c-table-content__srow):hover {
		// 	background: #d7d7d7;
		// }
	}

	th,
	td {
		text-align: left;
		padding: 5px 15px;
		border-top: 1px solid #c8c8c8;
		font-weight: normal;
	}

	th {
		height: 47px;
		background: #ededed; 
	}

	td {
		height: 40px;
	}

	&__srow {
		background: #f1f1f1;
	}
}


.c-modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow-x: hidden;
    overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	font-size: 0;
	text-align: center;
	background: rgba(42, 44, 46, 0.97);
	padding: 10px!important;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}

	&__backdrop {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&__dialog {
		position: relative;
		z-index: 4;
		display: inline-block;
		vertical-align: middle;
		width: 550px;
		max-width: 100%;
		font-size: 14px;
		text-align: left;
	}

	&__content {
		padding: 30px 10px 10px 10px;
		position: relative;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 5;

		&:after {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2044%2044%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20%23fff%20!important;%20%7D%3C/style%3E%3Cpath%20fill=%22%23fff%22%20d=%22M39.196%2043.3L1.154%205.256l3.89-3.89%2038.04%2038.043z%22/%3E%3Cpath%20fill=%22%23fff%22%20d=%22M.54%2039.413L38.58%201.37l3.89%203.89L4.428%2043.302z%22/%3E%3C/svg%3E%0A");
    		background-repeat: no-repeat;
    		opacity: .7;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}

	&__head {
		display: block;
		color: $text-normal-invert;
	}
}

.c-cont-collapse {
	&__toggler {
		display: block;
		margin: 0 0 15px 0;
		cursor: pointer;
		max-width: 500px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			@include bg($i-collapse-cont);
			margin: -3.5px 0 0 5px;
			transform: rotate(-180deg);
		}

		&.collapsed {
			&:after {
				transform: rotate(0);
			}
		}
	}

	&__collapse {
		display: none;
		margin: 0 0 20px 0;

		&.in {
			display: block;
		}
	}
}



// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

	.o-center {
		max-width: 622px;		
	}

}

@media (min-width: $third-point) {

	html,
	body {
		height: 100%;
	}

	.o-wrapper {
		min-height: 100%;
		&:after {
			content: '';
			display: block;
			height: 130px;
		}
	}

	.o-center {
		max-width: 862px;		
	}

	h2, .head-2 {
		font-size: 20px;
	}

}

@media (min-width: $fourth-point) {
	
	.o-section {
		margin: 30px 0 50px;
	}
	.o-center {
		max-width: 982px;		
	}

}

@media (min-width: $fifth-point) {
	
	.o-center {
		max-width: 1302px;		
	}

}

@media (min-width: $sixth-point) {

	.o-center {
		max-width: 1462px;		
	}

}

@media (min-width: $seventh-point) {
	
	.o-center {
		max-width: 1622px;		
	}

}