// ---- btns

.c-btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;	
	outline: none;
	background: none;
	@include border-radius(3px);
	line-height: 1;
	font-size: 14px;
	padding: 0 14px;	
	cursor: pointer;
	height: 36px;
	line-height: 36px;

	&--small {
		height: 25px;
		line-height: 25px;
	}
	&--lbl {
		height: 22px;
		line-height: 22px;
		font-size: 10px;
	}

	&--block {
		display: block;
		width: 100%;
	}

	
	&--raised {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

		&:active {
			box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
		}

		&.is-disabled {
			box-shadow: none;			
		}
	}

	&--flat-info {
		color: #565656;

		&:hover {
			background: #e1e1e1;
		}		

		&:active {
			background: #afafaf;
		}

		&.is-disabled {
			background: none;
			opacity: .7;
			cursor: default;
		}
	}	


	&--info {
		color: #3c3c3c;
		background: #e0e0e0;		

		&:hover {
			background: #d5d5d5;
			color: #3c3c3c;
		}

		&:active {
			color: #3c3c3c;			
		}

		&.is-disabled {
			background: #dfdfdf;
			color: #a5a5a5;
			cursor: default;
		}
	}

	&--success {
		background: #4caf50;
  		color: #fff;

  		&:hover {
  			color: #fff;
  			background: #349338;
  		}

  		&:active {
  			color: #fff;
  			background: #4caf50;
  		}

  		&.is-disabled {
			background: #4caf50;
			box-shadow: none;
			opacity: .7;
			cursor: default;
  		}
	}
}



.c-price {
	display: inline-block;
	max-width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	height: 36px;
	line-height: 36px;
	color: $text-success;	
	padding: 0 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include border-radius(3px);
	@include transition(padding, .1s);			

	&:hover {
		background: #e8f2e9;			
		color: $text-success;
		max-width: initial;
		position: relative;
		z-index: 10;
	}		

	&:active {
		background: #c5e3c7;
		color: $text-success;
	}

	&.is-disabled {
		opacity: .5;
		cursor: default;
		background: none;			
	}

	&.has-icon {
		&:after {
			content: '';
			display: inline-block;
			@include bg($i-link);
			margin: 0 0 0 8px;
			vertical-align: super;
		}
	}
}

.c-label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding: 0 8px;
	background: #ebebeb;
	color: $text-normal;
	margin: 3px;

	&__close {
		position: absolute;
		width: 18px;
		height: 100%;
		top: 0;
		right: 0;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;		
			top: 50%;
			left: 50%;	
			transform: translate(-50%, -50%);
			@include bg($i-lbl-close);
		}

		&:hover {
			background: #d4d4d4;
		}
	}

	&--close {
		padding: 0 20px 0 10px;		
	}

	&--clear {
		background: none;
		font-size: 10px;
		text-transform: uppercase;
	}
}


// filters

.o-line-f {
	display: block;
	margin: 10px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__inner {
		padding: 10px 0 0 30px;
	}
}
.c-label-f {
	display: block;
	position: relative;
	font-size: 12px;
	padding: 5px 0 5px 17px;
	cursor: pointer;

	* {
		color: inherit;
	}

	&__checkbox {
		position: absolute;
		left: 0;
		top: 7px;
		width: 10px;
		height: 10px;
		border: 1px solid #969696;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	input {
		position: absolute;
		left: -9999999999px;
		opacity: 0;
		visibility: hidden;
		z-index: -1;

		&:checked + .c-label-f__checkbox {
			&:after {
				@include bg($i-checkbox);
			}
		}
	}

	&--link {
		padding: 5px 0 5px;
	}
}

.c-group-label {
	font-size: 0;
	margin: 0 -15px 0 0;
}

.c-label-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	margin: 4px 16px 20px 3px; 

	input {
		position: absolute;
		left: -9999999999px;
		opacity: 0;
		z-index: -1;
		visibility: hidden;

		&:checked + .c-label-box__checkbox {
			display: block;
		}
	}

	&__checkbox {
		display: none;
		position: absolute;
		left: -3px;
		top: -3px;
		right: -3px;
		bottom: -3px;
		border: 1px solid #8d8d8d;

		&:after {
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			@include bg($i-lbl-close);
			margin: 0 0 0 3px;
		}
	}

	&__img {
		overflow: hidden;
		width: 100%;
		height: 100%;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}

	&--color {
		width: 40px;
		height: 40px;		
	}

	&--img {
		width: 69px;
		height: 69px;
	}
}

.form-group {
	margin: 0 0 25px 0;
	position: relative;

	&.has-error {
		.help-block {
			display: block;
		}
	}
}
.c-form-label {
	display: block;
	margin: 0 0 8px 0;
	color: $text-normal-invert;
	font-size: 16px;

	span {
		color: inherit;
		margin: 0 3px 0 0;
	}
}
.c-form-control {
	display: block;
	width: 100%;
	height: 60px;
	padding: 0 10px;
	@include border-radius(5px);
	outline: none;
	font-size: 16px;
	font-family: inherit;
	background: #fff;
	border: 0;

	&:focus {
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5) inset;
	}
}
textarea.c-form-control {
	height: auto;
	padding: 10px;
	resize: none;
}
.c-form-btn {
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
}
.help-block {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	font-size: 14px;
	margin: 3px 0 0 0;
}
.help-block-error {
	color: red;
}

@media (min-width: $third-point) {

	.c-label-f {
		padding: 0 0 0 17px;

		&__checkbox {
			top: 2px;
		}

		&--link {
			padding: 0;
		}
	}

	.c-label-box {

		&--img {
			width: 75px;
			height: 75px;
		}
	}

}