// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@mixin border-radius($value) {
    border-radius: $value;
}

@mixin transition($type, $time) {
    transition: $type $time;
}

@mixin style-dropdown() {
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    @include border-radius(3px);
}

// You can add your own mixins here: