.c-slick-gallery {
	max-width: 304px;
	margin: 0 auto;

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		transform: translate(-50%, -50%);
	}


	.c-nav {
		
		&__item {
			position: relative;
			padding: 2px;
			border: 2px solid transparent;
			height: 51.16px;
			overflow: hidden;
			margin: 1px 0;

			&.slick-current {
				box-shadow: 0 0 0 1px #787878;
				z-index: 1;
			}
		}

		.slick-arrow {
			border: 0;
			outline: none;
			position: absolute;
			top: 3px;
			bottom: 3px;
			width: 20px;
			z-index: 1;
			font-size: 0;
			line-height: 0;
			color: transparent;
			background: rgba(255, 255, 255, 0.6);

			&:hover {
				background: rgba(255, 255, 255, 0.8);
			}

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.slick-prev {
			left: 0;

			&:after {
				@include bg($i-nav-prev-sm);
			}
		}

		.slick-next {
			right: 0;

			&:after {
				@include bg($i-nav-next-sm);
			}
		}

	}

	.c-screen {
		margin: 0 0 6px 0;

		&__item {
			position: relative;
			height: 213px;
			overflow: hidden;
		}
	}
}








// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

}

@media (min-width: $third-point) {


}

@media (min-width: $fourth-point) {


}

@media (min-width: $fifth-point) {


}

@media (min-width: $sixth-point) {

}

@media (min-width: $seventh-point) {

}