mixin cardFeed(modifeir)
	.c-card(class=modifeir)
		.c-card__inner
			.c-card__media
				a(href="#").c-card__img
					img(src="static/img/content/img-test.png", alt="")
			.c-card__content
				a(href="#").c-card__h Стол капри плетеный красный красный
				.c-card__price
					a(href="#").c-price.has-icon от 787 грн
				.c-card__sub-h
					a(href="#") Heidelberg Cement Украина
		