mixin cardImg(modifeir)
	.c-card-img(class=modifeir)
		a(href="#").c-card-img__img
			img(src="static/img/content/img-card-2.jpg", alt="")
		.c-card-img__content
			a(href="#").c-card-img__h Бетон, железобетонные изделия
			.o-grid.c-card-img__list
				.o-grid__xs-4
					a(href="#").c-card-img__link Пилы
				.o-grid__xs-4
					a(href="#").c-card-img__link Ножовки
				.o-grid__xs-4
					a(href="#").c-card-img__link Молотки, кувалды