mixin footer(data)
	footer.c-footer
		.o-center
			.o-grid
				.o-grid__md-7
					.c-footer__copy © Fint.ua
					.c-footer__nav
						a(href="#").c-footer__link Каталог
						a(href="#").c-footer__link Пользовательское соглашение
						a(href="#").c-footer__link Контакты
				.o-grid__md-5.c-footer__btn
					a(href="#").c-footer__link Партнерство
					a(href="#").c-btn.c-btn--raised.c-btn--info ПОДКЛЮЧИТЬ МАГАЗИН