mixin cardListFeed(modifeir)
	.c-card-list(class=modifeir)
		.c-card-list__inner
			a(href="#").c-card-list__h Стол капри плетеный красный
			.c-card-list__main
				.c-card-list__media
					a(href="#").c-card-list__img
						img(src="static/img/content/img-test.png", alt="")
				.c-card-list__content
					.c-card-list__content-height
						.c-card-list__price
							a(href="#").c-price.has-icon 787 грн
						.c-card-list__sub-h
							a(href="#") Heidelberg Cement Украина
					a(href="#").c-btn.c-btn--success.c-btn--raised.c-btn--block.u-hide-xs В магазин
			.c-card-list__description
				span.c-card-list__description-line
					|Производитель: <a href="#">Pradex, Украина</a><span class="u-flag"><img src="static/img/general/i-UA.png" alt=""></span>
				span.c-card-list__description-line
					|Высота: 50 см;  Длина: 98 см;
				span.c-card-list__description-line
					|Ширина: 60 см;
				span.c-card-list__description-line
					|Материал: массив дуба
				span.c-card-list__description-line
					|Стол “Орландо” (темный дуб). Кухонный уголок+стол+табуреты, Стол деревянный из массива дуба