mixin includeJs()
    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    
    script(src='%=static=%js/separate-js/jquery-1.12.4.js')
    script(src='%=static=%js/separate-js/common-js.js')
    script(src='%=static=%js/separate-js/slick.min.js')
    script(src='%=static=%js/separate-js/jquery.mCustomScrollbar.js')
    script(src='%=static=%js/separate-js/user.js')