mixin includeJs()
    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    
    script(src='%=static=%js/separate-js/jquery-3.1.1.min.js')
    script(src='%=static=%js/separate-js/common-js.js')
    script(src='%=static=%js/separate-js/slick.min.js')
    script(src='%=static=%js/separate-js/menuJS.js')
    script(src='%=static=%js/separate-js/jquery.mCustomScrollbar.js')
    script(src='%=static=%js/separate-js/jquery.menu-aim.js')
    script(src='%=static=%js/separate-js/user.js')