mixin rating(dataRat, count)
	.c-rating(data-rat=dataRat)
		span.c-rating__item.is-1
		span.c-rating__item.is-2
		span.c-rating__item.is-3
		span.c-rating__item.is-4
		span.c-rating__item.is-5
		span.c-rating__count (#{count})