mixin viewNav(modifeirBox, modifeir_lisr, modifeir_card)
	.c-view-nav(class=modifeirBox)
		a.c-view-nav__btn.c-view-nav__btn--list(href="#", class=modifeir_lisr)
		a.c-view-nav__btn.c-view-nav__btn--card(href="#", class=modifeir_card)