.c-header {	
	position: relative;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
	height: 106px;
	z-index: 10;

	&__wrap {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		background: #fff;
	}

	&__top {
		height: 42px;
	}

	&__bot {
		height: 64px;
		background: $theme-light-fill;
		color: $text-normal-invert;
	}

	&__panel-btn {
		height: 64px;
		line-height: 64px;
		@include cf;
		font-size: 20px;

		.c-btn {
			float: right;
			margin: 14px 0 0 0;
		}
	}
}








// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

}

@media (min-width: $third-point) {


}

@media (min-width: $fourth-point) {


}

@media (min-width: $fifth-point) {


}

@media (min-width: $sixth-point) {

}

@media (min-width: $seventh-point) {

}