.c-card-small {
	background: $fill-card;
	@include cf;
	padding: 5px 9px 9px 9px;

	&__h {
		display: block;
		margin: 0 0 5px 0;
  		font-size: 15px;
  		color: $text-heading;
	}

	&__img {
		display: none;
		float: left;
		width: 94px;
		height: 75px;
		overflow: hidden;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}

	&__price {
		margin: 0 0 5px 0;

		.c-price {
			font-size: 14px;
			padding: 0 5px;
		}
	}

	&__sub-h {
		color: $text-normal;

		* {
			color: inherit;
		}
	}
}




@media (min-width: $mobile-landscape) {
	
	.c-card-small {
		&__h {
			margin: 0 0 7px 0;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		&__img {
			display: block;
		}
		&__content {
			padding: 0 0 0 102px;
		}
		&__sub-h {
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		&__price {			
			.c-price {
				// font-size: 18px;
				padding: 0 13px;
			}
		}
	}

}



// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

}

@media (min-width: $third-point) {
	
	.c-card-small {

		&:hover {
			box-shadow: $shadow-card;
		}
	}

}

@media (min-width: $fourth-point) {


}

@media (min-width: $fifth-point) {


}

@media (min-width: $sixth-point) {

}

@media (min-width: $seventh-point) {

}