mixin cardSmallFeed(modifeir)
	.c-card-small(class=modifeir)
		a(href="#").c-card-small__h Стол капри плетеный красный
		a(href="#").c-card-small__img
			img(src="static/img/content/img-card.jpg", alt="")
		.c-card-small__content
			.c-card-small__price
				a(href="#").c-price.has-icon 999999 грн
			.c-card-small__sub-h
				a(href="#") Название магазина