mixin sideNav()
	ul.c-side-nav
		li.c-side-nav__item
			a(href="#").c-side-nav__btn.is-active Размещение прайс-листов
		li.c-side-nav__item
			a(href="#").c-side-nav__btn Баннерная реклама
		li.c-side-nav__item
			a(href="#").c-side-nav__btn О проекте, контакты