.c-side-nav {
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
	display: block;
	line-height: 1.1;

	&__item {
		display: block;
		font-size: 16px;
	}

	&__btn {
		display: block;
		position: relative;
		color: $text-light;
		padding: 10px 15px;
		@include transition(all, .2s);

		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 2px;
			top: 0;
			bottom: 0;
		}

		&:hover {
			&:before {
				background: #ccc;
			}
		}

		&.is-active {
			&:before {
				background: $theme-light-fill;
			}
		}

		&:hover,
		&.is-active {
			color: $text-dark;
		}
	}
}








// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {


}

@media (min-width: $third-point) {	

}

@media (min-width: $fourth-point) {


}

@media (min-width: $fifth-point) {


}

@media (min-width: $sixth-point) {

}

@media (min-width: $seventh-point) {

}