mixin slider-bunner()
	.c-slider-bunner.slick-slider.js-bunner-slider.u-hide-xs
		- for (let i = 0;i < 4;i ++)
			.c-slider-bunner__item
				img(data-lazy="static/img/content/img-slider.jpg", alt="").c-slider-bunner__img