mixin topNav()
	ul.c-top-nav
		li.c-top-nav__item
			a(href="#").c-top-nav__btn.c-top-nav__btn--construction Стройка
		li.c-top-nav__item
			a(href="#").c-top-nav__btn.c-top-nav__btn--interior Интерьер
		li.c-top-nav__item
			a(href="#").c-top-nav__btn.c-top-nav__btn--landscape Ландшафт
		li.c-top-nav__item
			a(href="#").c-top-nav__btn.c-top-nav__btn--repairs Ремонт