mixin mainBunner()
	.c-main-bunner(style="background-image:url('static/img/content/img-main-bunner.jpg')")
		.c-main-bunner__content
			h1.c-main-bunner__h Все цены на строительные материалы в одном месте
			.c-main-bunner__sub-h Поиск среди лучших магазинов страны
		