.c-img-bunner {	
	&__img {
		height: 208px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
}








// ---- media points

@media (min-width: $one-point) {


}

@media (min-width: $second-point) {

	.c-img-bunner {		
		&__img {
			height: 312px;
		}
	}

}

@media (min-width: $third-point) {


}

@media (min-width: $fourth-point) {


}

@media (min-width: $fifth-point) {


}

@media (min-width: $sixth-point) {

}

@media (min-width: $seventh-point) {

}