mixin card-partner-list-custom(modifeir)
	include ../rating/rating
	.c-card-partner.c-card-partner--list(class=modifeir)
		.c-card-partner__row
			.c-card-partner__cell.c-card-partner__cell--1
				a(href="#").c-card-partner__logo
					img(src="static/img/content/logo-sams.png", alt="")
				a(href="#").c-card-partner__name Samsung
			.c-card-partner__cell.c-card-partner__cell--2
				.c-card-partner__rat
					span.c-card-partner__rat-val 3.9
					+rating(3)
				.c-card-partner__rev <span>150</span> отзывов
			.c-card-partner__cell.c-card-partner__cell--3
				a(href="#").c-card-partner__link-count 1578 ТОВАРОВ
			.c-card-partner__cell.c-card-partner__cell--4.u-hide-xs
				|Южная Корея
		a(href="#").c-card-partner__label Сайт
		