mixin dropdown(modifeir)
	.c-dropdown(class=modifeir)
		span.c-dropdown__btn(data-toggle='dropdown') По популярности
		.c-dropdown__list
			a(href="#").c-dropdown__item По цене (от низких к высоким)
			a(href="#").c-dropdown__item По цене (от низких к высоким)
			a(href="#").c-dropdown__item По цене (от высоких к низким)
			a(href="#").c-dropdown__item По рейтингу